*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: catamaran;
}

a{
  text-decoration: none;
}

/* header */
.header-wrap{
  display: flex;
  align-items: flex-end;
}

.nav{
  /* margin-left: -300px; */
}

.nav ul li{
  list-style: none;
}

.nav ul li a{
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 133.6%;
  color: #163561;
}

.notifications{
  align-items: center;
}

.notifications img{
  margin-left: 72px;
}

.header-btn{
  margin-left: 72px;
}

.btn{
  color: #ffffff;
  padding: 15px 32px;
  background: #99BAED;
  border-radius: 20px;
}

.btn:hover{
  background: #b4d1fd;
}

/* /header */


/* hero section */
.hero-wrap{
  display: flex;
  margin-top: 50px;
}

.hero-text{
  padding-top:25px;
}

.title{
  font-weight: bold;
  font-size: 55px;
  line-height: 133.6%;
  color: #163561;
}

.paragraph{
  margin-top: 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 150.6%;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}

span{
  color: #FBB400;
}

.hero-btn{
  margin-top: 70px;
}

.hero-image img{
  margin-left: -200px;
  width: 800px;
}
/* /hero section */


/* history section */

.history{
  margin-top: 126px;
}

.history-image img{
  width: 526px;
}

.history-btn{
  margin-top: 50px;
}
/* /history section */


/* services section */
.service{
  margin-top: 100px;
}

.card{
  padding: 50px 41px;
  background: #FAFBFF;
  box-shadow: 0px 5px 0px #99BAED;
  border-radius: 29px;
}

.card img{
  background: #E5ECFE;
  box-shadow: 0px 1px 0px #008FDD;
  border-radius: 13px;
}

.s-card1, .s-card2{
  padding: 15px 13px;
}

.card-title{
  font-weight: bold;
  font-size: 32px;
  line-height: 116.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}

.card-p{
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}

.card:hover{
  background: #99BAED;
}

.card:hover h3, .card:hover p{
  color: #ffffff;
  opacity: 1;
}
/* /services section */


/* gallary section */
  .gallary{
    margin-top: 150px;
  }

  .gallary-photos img{
    width: 300px;
    height: 300px;
  }

  .gallary-row2{
    margin-top: 55px;
  }

  .gallary-btn{
    margin-top: 77px;
  }
/* /gallary section */


/* footer */
.footer-wrap{
  margin-top: 100px;
}

.footer-list-item{
  list-style: none;
  font-size: 32px;
  margin-right: 20px;
}
/* /footer */